@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
@import url("https://fonts.googleapis.com/css?family=Merriweather:400,700");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Source+Code+Pro&display=swap");

:root
{
    --primary-color: #1C1B23;
    --secondary-color: #4E4F5F;
    --accent1-color: #5E6472;
    --accent2-color: #ff0000;

    --heading-font: font-family: 'Press Start 2P', cursive;
    --paragraph-font: font-family: 'Source Code Pro', monospace;
    --headline-color-on-white: black;  /* headlines on a white background */ 
  --headline-color-on-color: #ff0000; /* headlines on a colored background */ 
  --paragraph-color-on-white: black; /* paragraph text on a white background */ 
  --paragraph-color-on-color:#95e67c; /* paragraph text on a colored background */ 
  --paragraph-background-color: black;
  --nav-link-color: #396E94;
  --nav-background-color: #E7C24F;
  --nav-hover-link-color: #E7C24F; /*Don't forget to change the nav colors to something If they don't work.*/
  --nav-hover-background-color: #396E94;
}
html {
    background-color: var(--primary-color);
  }
  img {
    max-width: 100%;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: #ff0000;
  }
  header {
    padding: 1em;
    text-align: center;
    color: var(--paragraph-color-on-color);
    background-color: var(--paragraph-background-color);
  }
  header > h1, header > h2 {
    color: var(--headline-color-on-color);
  }
  
  p {
    font-family: var(--paragraph-font);
    color: #95e67c;
    padding: 1em
  }
  ul{
    color: #95e67c;
  }
  .colors {
    width: 100%;
    min-width: 350px;
    margin: auto;
    text-align: center;
  }
  .colors th {
    background-color: #999;
  }
  .colors td{
    width: 25%;
    height: 3em;
  }
  
  .primary {
    background-color: var(--primary-color);
  }
  .secondary {
    background-color: var(--secondary-color);
  }
  .accent1 {
    background-color: var(--accent1-color);
  }
  .accent2{
    background-color: var(--accent2-color);
  }
  
  p.colored {
    background-color: var(--paragraph-background-color);
    color: var(--paragraph-color-on-color);
  }
#content{
    max-width: 960px;
    background-color: 	#4E4F5F;
    margin: 0 auto;
}
.nameplate{
    background-color: black;
    max-height: 200px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
    border-radius: 2%;
    max-width: 400px;
    margin: 0 auto;
    padding: 5px;
}
.nameplate img {
    height: 200px;
    border-radius: 2%;
}
main{
    margin-bottom: 2em;
}
footer p{
    margin-bottom: -2em;
    text-align: center;
}
.assignement, .list{
    text-align: center;
}

@media (min-width: 32.5em) {
  @import url(medium.css);   
}

@media (min-width: 64em) {
  @import url(large.css);   
}