header{
    display:grid;
    grid-template-rows: 1fr 1fr;
}
img{
    max-width: 100%;
}
header nav ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    list-style: none;
    gap: 10px;
    padding: 10px;
    margin-top: auto;
    text-align: center;
    text-justify: center;
}
body{
    max-width: 960px;
    margin: 0 auto;
    background-color: rgb(17, 13, 78);

}
header, main{
    background-color: rgb(245, 255, 255);
    padding: 1px
}
footer{
    background-color: rgb(213, 230, 236);
    display: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
}
#lastmod{
    grid-column: 1/4;
    grid-row: 4;
    text-align: center;
    justify-content: center;
    align-content: center;
}
#location{
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    justify-content: center;
    align-content: center;
}
#contact{
    grid-column: 1/4;
    grid-row: 2;
    text-align: center;
    justify-content: center;
    align-content: center;
}
#social{
    grid-column: 1/4;
    grid-row: 3;
    text-align: center;
    justify-content: center;
    align-content: center;
}
@media(min-width: 32em)
    {
        header{
            grid-template-columns: 250px 1fr;
            grid-template-rows: 1fr;
        }
        header nav ul{
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr;
        }
        footer{
            display:none;
            display:grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
        }
        #location{
            grid-column: 1;
            grid-row: 1;
        }
        #social{
            grid-column: 3;
            grid-row: 1;
        } 
        #contact{
            grid-column: 2;
            grid-row: 1;
        }
        #lastmod{
            grid-row:2;
        }
    }
    @media(min-width: 64em){
        header, main{
            background-color: white;
        }
        header nav ul{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            list-style: none;
            
        }

    }