#temples{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 50px;
    margin-bottom: 25px;
}
#temples div{
    background-color: aliceblue;
    box-shadow: 3px 3px 3px 3px;
}