header
{
    display: flex;
    flex-direction: row;
}
html
{

    background-color: rgb(211, 211, 211);

}
img{
    max-width: 100%;
}
body{
    margin: 0 auto;
    max-width: 960px;
    background-color: white;
}
#wrapper{
    min-height: calc(100vh-50px);
}
footer{
    height: 50px;
}


@media (min-width: 540px) {
    @import url(medium.css);   
    
  }
  
  @media (min-width: 64em) {
    @import url(large.css);   
    
  }
  