header
{
    display: flex;
    flex-direction: row;
}
html
{
    margin: 0 auto;
}
img{
    max-width: 100%;
}




@media (min-width: 540px) {
    @import url(medium.css);   
    
  }
  
  @media (min-width: 64em) {
    @import url(large.css);   
    
  }
  